<form #form="ngForm" (submit)= "onSubmit(form)" autocomplete="off">
    <input type="hidden" name="id" #id="ngModel" [(ngModel)]="service.formData.id">
    <div class="form-group">
        <label>Name</label>
        <input name="name" #name="ngModel" [(ngModel)]="service.formData.name" class="form-control" required>
        <div class="validation-error" *ngIf="name.invalid && name.touched">This field is required.</div>
    </div>
    <div class="form-group">
        <label>Surname</label>
        <input name="surname" #surname="ngModel" [(ngModel)]="service.formData.surname" class="form-control" >
    </div>
    <div class="form-group">
        <label>Date Of Birth</label>
        <input name="dateOfBirth" type="date" #dateOfBirth="ngModel" [(ngModel)]="service.formData.dateOfBirth" class="form-control" >
    </div>
    <div class="form-group">
        <label>SuperPower</label>
        <input name="superpower" #superpower="ngModel" [(ngModel)]="service.formData.superpower" class="form-control">
    </div>
    <div class="form-group">
        <button type="submit" [disabled]="form.invalid" class="btn btn-lg btn-block">Submit</button>
    </div>
</form>