<table class="table table-hover">
    <thead *ngIf="isHeaderVisible()">
    <tr>
        <th>Name</th>
        <th>Surname</th>
        <th>Date Of Birth</th>
        <th>SuperPower</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
        <tr *ngFor="let ast of service.list">
            <td (click)="populateForm(ast)">{{ast.name}}</td>
            <td (click)="populateForm(ast)">{{ast.surname}}</td>
            <td (click)="populateForm(ast)">{{ast.dateOfBirth | date }}</td>
            <td (click)="populateForm(ast)">{{ast.superpower}}</td>
            <td> <button (click)="onDelete(ast.id)" class="btn btn-sm btn-outline-danger">X</button></td>
        </tr>
    </tbody>
</table>